.site-header{
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.site-header__container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-header__toggler{
  display: none;
}